
@import "normalize.css";
/* CSS Document */






/* ------------------------------------------------------
		Reset CSS
-------------------------------------------------------*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

ul, li, a{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	color: white;
}

.header a{
	text-decoration: none;
}

/*		HEADER 		*/



/* ------------------------------------------------------
		Top Header
-------------------------------------------------------*/

.inner_header {
	width: 1400px;
	margin: 0 auto; 
	padding: 20px 0;
	
}

.top_header:after {
	content: '';
	display: table;
	clear: both;

}



.header {
	background: #505d5b;
	padding: 0px  0;
	color: white;
	font-size: 17px;

}
.top_header img{
	width: 35px;
	float: left;
	margin: 5px;
	
}
.top_header a {
	color: white;
}

.top_header .contact > ul > li{
	float: left;
	position: relative;
	margin-left: 15px;
	
}

.top_header .contact img{
	width: 20px;
	float: left;
	padding: 0px;
	margin:0px 0 10px 10px;
}


.top_header .connexion{
	margin-left: 280px;
}
.top_header .connexion img{
	width: 25px;
	display: block;
	margin:-2px 8px 10px 10px;
}


.top_header .connexion> ul > li{
	float: left;
}

.top_header .reseaux_top{
	float: left;
	margin-left: 70px;
	width: 40%;
}

.top_header .reseaux_top > ul > li{
	float: left;
	padding: 0 5px 5px 0px;
	display: block;
	
}
.top_header .reseaux_top img{
	margin:-5px 0 10px 10px;; 
}

.top_header .search_top{
	float: left;
	margin-left: 70px;
	width: 20%;
}
.top_header .search_top > ul > li{
	display: block;
	float: left;
	padding:0 5px;
}

.top_header .search_top .champ{
	width: 200px;
	
}
.top_header .search_top img{
	width: 30px;
	margin:-5px 0 10px 10px;; 
}


/* ------------------------------------------------------
		Middle Header
-------------------------------------------------------*/


.header_middle {
	background: #f5ece5;
	background-image: url(../images/transparent-confetti-7.png);
	padding: 8px  0;
	color: #333333;
	font-size: 17px;
	border-bottom: 8px solid #f5aba1;

}
.header_middle:after {
	content: '';
	display: table;
	clear: both;
}

.header_middle .logo_header img{
	float: left;
	margin: 25px 0px 50px 100px;
}

.header_middle .slogan h2{
	padding-top: 40px;
	margin-left: 420px;
	font-weight: bold;
	text-shadow: 3px 3px #f5d199;
}

.header_middle .slogan span{
	color: #00ada9;
	/*text-shadow: 3px 3px  #333333;*/
}

.header_middle .people_put_your_hands_up img{
	text-align: right;
	float: right;
	margin: 50px 100px 0px 0px;
}



/* ------------------------------------------------------
		Bottom Header - navigation
-------------------------------------------------------*/

.header_bottom .inner_header{
	padding: 0;
}

.header_bottom:after {
	content: '';
	display: table;
	clear: both;

}
.header_bottom .menu > li {
	float: left;
	display: block;
	border-right: 1px solid rgba(18,18,18,1.00);
	position: relative;
}
.header_bottom .menu > li:last-child {
	border-right: 0;
}
.header_bottom .menu > li > a {
	color: white;
	padding: 15px 65px;
	display: block; 
	margin: 0px;
}
.header_bottom .menu > li > a:hover,
.header_bottom .menu > li > a:focus,
.header_bottom .menu > li > a:active{
	background: #f5aba1;
}

.header_bottom .menu > li:nth-child(5){
	background: #00ada9;
}
/* Sous navigation*/
.header_bottom .menu ul{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	display: none;
}
.header_bottom .menu > li:hover ul{
	display: block;
}
.header_bottom .menu ul >li{
	display: block;
	
}
.header_bottom .menu ul >li > a{
	display: block;
	background: #DDDDDD;
	color: #333333;
	padding: 10px;
	white-space: nowrap;
}
.header_bottom .menu ul>li:not(:last-child) {
	border-bottom: 1px solid #666;
}
.header_bottom .menu ul>li> a:hover,
.header_bottom .menu ul>li> a:focus {
	background-color: #f5aba1;
	color: white;
}



.header_bottom .menu img{
	width: 40px;
	padding-right: 10px;
	float: left;
	
}










/*		HOME 		*/


/*--------------------------------------------------------------------------------
				CONTENTS : top (vidéo)
---------------------------------------------------------------------------------*/


.video_home{
	background:#3d3d3d;
}
.video_home img{
	display: block;
	margin: auto;
}

/*--------------------------------------------------------------------------------
				CONTENTS : middle (pubs)
---------------------------------------------------------------------------------*/













/*		PERSONNALISATION 		*/


/*---------------------------------------------------------------
		En-tête
---------------------------------------------------------------*/
.top_personnalisation{
	background-color: #535353;
	width: 100%;
	float: left;
	display: block;
	height: 200px;
}

.top_personnalisation h1{
	text-align: center;
	color: white;
	font-size: 40px;
	padding-top: 20px;
	text-shadow: 2px 2px #3d3d3d;
}

.top_personnalisation > ul > li{
	float:left;
	display: block;
	max-width: 100%;
	width: 25%;
	text-align: center;
} 
.top_personnalisation > ul > li:first-child{
	margin-top: -80px;
}.top_personnalisation > ul > li:nth-child(2){
	margin-top: -100px;
	margin-left: 50px;
	width: 200px;
}.top_personnalisation > ul > li:nth-child(3){
	margin-left: 180px;
	margin-top: -30px;
}.top_personnalisation > ul > li:nth-child(4){
	margin-top: -80px;
	margin-left: 150px;
	width: 100px;
}

/*---------------------------------------------------------------
		Contents
---------------------------------------------------------------*/



.container_perso{
	background-image: url(../images/18922568_1215050378603848_3530050231265743475_o.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:auto;
	
}

.contents_perso{
	background-color: rgba(255,255,235,0.62);
	width: 1400px;
	margin: 0 auto; 
	padding: 20px 0;
}

.contents_perso label{
	font-weight: bold;
}
.hautContents{
	background-color: rgba(255,255,255,0.34);
}

.contents_perso .form_perso {
	color: #3d3d3d;
	margin-left: 600px;
	padding-top: 250px;
}

.contents_perso .form_perso p{
	padding-bottom: 40px;
	font-size: 18px;
}
.contents_perso .form_perso .taille_perso{
	float:left; 
	position: absolute;
}



.contents_perso .form_perso > ul >li {
	float: right;
	margin-right: 40px;
	margin-top: -20px;

}
.contents_perso .form_perso ul{
	margin-left: 100px;
	margin-right: 300px;
	margin-top: -70px;
	margin-bottom: 50px;
}
.contents_perso .form_perso .color_perso{
	margin-right: 30px;
}

.contents_perso .form_perso .text_perso{
	margin-left: 50px;
}.contents_perso .form_perso .police_perso{
	margin-left: 25px;
}

.contents_perso .form_perso .forme_perso{
	margin-left: 100px;	
}


.contents_perso .contentsPersoGobEtPrix {
	margin-top: -600px;
	padding-bottom: 300px;

}

.contentsPersoGobEtPrix .prix_gobelet{
	margin-left: 140px;
	font-size: 22px;
	font-weight: bold;
}

.contents_perso .form_perso .button_valider_form {

  display: inline-block;
  border-radius: 4px;
  background-color: #F18A7C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_valider_form span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_valider_form span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_valider_form:hover span {
  padding-right: 25px;
}

.button_valider_form:hover span:after {
  opacity: 1;
  right: 0;
}


.infoProduitPerso .btn-block{
	background-color: white;
	color: black;
}
.infoProduitPerso .btn-block h4{
	float: left;
	margin-left: 20px;
	padding-top: 5px;
	
}
.infoProduitPerso  .img_infosProduit {
	float: left;
}

.infoProduitPerso img{
	width: 40px;
}

.infosAboutProduit p,h5{
	padding: 40px 0px 0px 40px;
}
.infosAboutProduit h5, p{
	margin-left: 20px;
	padding-bottom: 20px;
}
/*		Réseaux 	 */


.reseaux_perso{
	text-align: center;
	margin-bottom: 100px;
}
.reseaux_perso h5{
	margin-bottom: 40px;
}
.reseaux_perso img{
	width: 40px;
}
.reseaux_perso >ul >li{
	margin: 20px;
	display: inline;
}

.reseaux_perso img:hover{
	-webkit-transition: all 200ms ease-in;
	width: 80px;
}





/*		PANIER 		*/

.panier{
	background-image: url()
}
















